@import "../../global.scss";
.projects{

    background-color: rgb(246, 211, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    gap  : 2rem;
    .heading{
        font-size: 3rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
    
    .card{
        transition: all 1s ease;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0px 0px 15px -8px;
        display: flex;
        width: 90%;
        .left{
            // width: 50%;
            // border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            flex: 0.5;
            .imgContainer{
                background-color: inherit;
                border-radius: 2rem 2rem;
                padding-left: 1rem;
                box-shadow: 0px 0px 15px -8px;
                // overflow: hidden;
                img{
                    display: block;
                    max-width  :  36rem;
                    min-height :  21rem;
                    border-radius: 1rem;
                    
                }
            }
        }
        .right{
            flex: 0.5;
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:2rem;
            // width: 30%;
            padding : 0 1rem;
            padding-bottom: 1rem;
            h2{
                font-size: 2rem;
                font-weight: 600;
                color: rgb(0, 0, 0);

                margin: 1rem 0;
            }
            .info{
                width : 100%;
                // border: 1px solid black;
                // background-color : rgb(246, 211, 145);
                h3{
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: rgb(0, 0, 0);
                }
                // text-align: center;
            }
            .tech{
                width : 100%;
                // border: 1px solid black;
                // background-color : rgb(246, 211, 145);
                h3{
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: rgb(0, 0, 0);
                    
                }
                // text-align: center;
            }
        }

        &:hover{
           scale: 1.1;
        }
        @include tablet{
            flex-direction: column;
            .left{
                width: 100%;
                .imgContainer{
                    img{
                        max-width: 100%;
                        height: 100%;
                    }
                }
            }
            .right{
                width: 100%;
                padding-left: 3rem;
            }
        }

        @include mobile{
            width: 100%;
            .left{
                // border: 1px solid black;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .imgContainer{
                    // border: 1px solid black; 
                    box-shadow: 0px 0px 15px -8px;   
                    width: 100%;
                    height: 350px;
                    img{
                        width: 100%;
                        height: 200px;
                        // object-fit: cover;
                    }
                }
            }
        }
    }
}